.card {
    border-radius: 15px;
    overflow: hidden; /* Prevent overflow */
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    background-color: #f0f0f0; /* Default background color */
    height: 350px; /* Set a fixed height for the card */
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-carousel-img {
    height: 200px; /* Adjust the height as needed*/
}  
.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; /* Hide image initially */
    transition: opacity 0.3s;
}
.card-content {
    position: relative;
    max-height: 100%;
    overflow-y: scroll; /* Enable vertical scrolling */
    padding: 20px;
    opacity: 0; /* Hide content initially */
    transition: opacity 0.3s;
}
.card:hover img {
   display: none;
}

.card:hover .card-content {
    opacity: 1; /* Show content on hover */
}

.card-content::-webkit-scrollbar {
    width: 0;
    background: transparent; /* Optional: make scrollbar background transparent */
}

.card-content {
    scrollbar-width: none; /* Hide scrollbar */
}

.card-title {
    font-size: 1.5em;
    margin: 0;
    color: #640e64; /* Adjusted color */
    font-style: oblique;
}

.names {
    font-style: oblique;
    color: #640e64;
    text-transform: uppercase;
}

.card-text {
    font-size: 1em;
    color: aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card:hover {
    background: linear-gradient(145deg, #9d4edd, #32a8a8);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 0, 255, 0.3);
    transform: scale(1.05);
}
.custom-carousel-img{
height: 100px;
}